<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--***************************************************  Framework Assemblies ***************************************************************-->
    <!--**********-->
    <!--***************************************************  Fathym Core Assemblies ***************************************************************-->
    <assembly name="Fathym" />
    <assembly name="Fathym.IoC" />
    <!--**********-->
    <namespace name="Fathym.IoC" />
    <!--***************************************************  Fathym.{thisapp} Assemblies ***************************************************************-->
    <container>
      <!--*******************************************************  Service Registrations  ********************************************************************-->
      <!--*******************************************************  Business Registrations  ********************************************************************-->
      <!--*******************************************************  Data Repository Registrations  ********************************************************************-->
      <!--*******************************************************  Cache Registrations ********************************************************************-->
      <!--*******************************************************  Other Registrations ********************************************************************-->
    </container>
    <assembly name="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <assembly name="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <assembly name="System.Web.Http, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <namespace name="System" />
    <namespace name="System.Collections.Generic" />
    <namespace name="System.ServiceModel" />
    <namespace name="System.Web.Http" />
    <namespace name="System.Web.Http.Controllers" />
    <namespace name="System.Web.Http.Dependencies" />
    <namespace name="System.Web.Http.Dispatcher" />
    <assembly name="Fathym.Service" />
    <namespace name="Fathym.Business" />
    <namespace name="Fathym.Business.ArgRes" />
    <namespace name="Fathym.Logging" />
    <namespace name="Fathym.Service" />
  </unity>
</configuration>
